name: Create Release

on:
  workflow_dispatch:
  # schedule:
  #   - cron: '0 0 * * 0'

permissions:
  contents: write

jobs:
  create-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Set up Python 3.11
        run: uv python install 3.11

      - name: Install Dependencies
        run: uv sync --group dev

      - name: Run Tests
        run: uv run pytest tests

      - name: Install just
        uses: extractions/setup-just@v2

      - name: Run Transform
        run: just run

      - name: Get Date for Release Tag
        run: echo "DATE=$(date +%Y-%m-%d)" >> $GITHUB_ENV

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.DATE }}
          files: |
            output/*
          generate_release_notes: true
